%div.main-manu__one-message
%ul.main-manu__one-message-user
  %li.main-manu__one-message-name
    = message.user.name
  %li.main-manu__one-message-time
    = message.created_at.strftime("%Y/%m/%d %H:%M")
%div.main-manu__one-message-detail
  - if message.content.present?
    %p.main-manu__one-message-detail--content
      = message.content
  = image_tag message.image.url, class: 'main-manu__one-message-detail--image' if message.image.present?
