$sub_menu_pad: 0 20px;
$main_menu_pad: 0 40px;

$header_hight: 100px;

$dark_blue: #253141;
$navy_blue: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999999;

$white_character: #FFF;

$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$black: #434a54;
$alert_orange: #F35500;