%div.sub-menu__one-group
  - current_user.groups.each do |group|
    = link_to '#' do
      %div.sub-menu__one-group-name
        = group.room_name
      %div.sub-menu__one-group-message
        メッセージはまだありません。