= render partial: "sub_menu"

%div.main-manu

  %header.main-manu__current-group
    %div.main-manu__current-group-name
      グループ名
    %div.main-manu__current-group-member
      Member
    = link_to '' do
      %div.main-manu__current-group-edit-btn
        Edit

  %div.main-manu__message
    - for num in 1..10
      = render partial: "one_message"

  %footer.main-manu__submission
    %form.main-manu__submission-form-image-box{action: ''}
      %div.main-manu__submission-form
        %div.main-manu__submission-form-box
          %input.main-manu__submission-form-text{type: "text", placeholder: "type a message"}
            %label.main-manu__submission-form-image{for: "upload-icon"}
              %i.far.fa-image
              %input.main-manu__submission-form-image-upload#upload-icon{type: "file"}
        %input.main-manu__submission-form-submit{type: "submit", value: "Send"}